<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADVAN Quizz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='quizz.css') }}">
</head>
<body>
    <div class="container">
        <!-- Bouton pour créer un compte -->
        <button class="connect-button" id="createAccount">Créer un compte</button>
        <!-- Bouton pour se connecter -->
        <button class="log-button" id="login">Connexion</button>
    </div>

    <!-- Bouton Retour -->
    <div>
        <button id="back-button">Retour</button>
    </div>

    <script>
        // Redirection vers la page d'inscription
        document.querySelector("#createAccount").addEventListener("click", function() {
            window.location.href = "{{ url_for('inscription') }}"; // Changez pour la route correcte
        });

        // Redirection vers la page de connexion
        document.querySelector("#login").addEventListener("click", function() {
            window.location.href = "{{ url_for('connexion') }}";
        });

        // Bouton Retour
        document.querySelector("#back-button").addEventListener("click", function() {
            window.history.back(); // Revient à la page précédente
        });
    </script>
</body>
</html>
