<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADVAN Quiz </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='quizz.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <button class="start-button">COMMENCER</button>
    </div>
    

    <script>
       document.querySelector(".start-button").addEventListener("click", function() {
    window.location.href = "{{ url_for('create_account') }}";
});

    </script>
</body>
</html>
