<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choix du Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='quizz.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body class="quiz-selection">
    <div class="container">
        <div class="quiz-options">
            <div class="quiz-row">
                <button class="quiz-button" id="createAccount">Action</button>
                <button class="quiz-button" id="createAccount">Aleatoire</button>
            </div>
            <div class="quiz-row">
                <button class="quiz-button2" id="createAccount">RPG</button>
                <button class="quiz-button2" id="createAccount">Stratégie</button>
                
            </div>
        </div>
        
    </div>

    <script>
        // Add navigation to quiz pages
        document.querySelectorAll('.quiz-button').forEach(button => {
            button.addEventListener('click', function() {
                const url = this.getAttribute('data-url');
                window.location.href = url;
            });
        });
    </script>
</body>
</html>
